<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject #08</div>
<span style="">MicroProject: FIFA World Cup</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/08-fifa-world-cup">https://discovery.cs.illinois.edu/microproject/08-fifa-world-cup</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: International Soccer Match Data via GitHub


The FIFA World Cup is a global football(soccer) competition contested by the senior men's national teams which occurs every 4 years. It is likely the most popular sporting event in the world, drawing billions of television viewers every tournament. The 2022  FIFA World Cup will be hosted in Qatar and began on November 20th.

This dataset includes over 44,000 results of international football matches starting from the very first official match in 1872 up to 2022. The matches range from FIFA World Cup to FIFI Wild Cup to regular friendly matches. The matches are strictly men's full internationals and the data does not include Olympic Games or matches where at least one of the teams was the nation's B-team, U-23 or a league select team.

You can view their Match Data GitHub repository here: [https://github.com/martj42/international_results](https://github.com/martj42/international_results).  You can find all the match results by navigating into the repository:

- Click **results.csv**
- Click the **View Raw** button to above the file contents to navigate to the raw CSV version of the file (without the GitHub interface)
- Use the URL of the **raw data as your dataset** for this MicroProject.

Use panda's `read_csv` function to read the dataset you found and create a DataFrame called `df` and drop all rows containing a NaN value:

*Note: to learn more about the columns in the imported dataframe navigate the the github page and read the README.md file

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/martj42/international_results/master/results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44336,2022-12-04,England,Senegal,3.0,0.0,FIFA World Cup,Al Khor,Qatar,True
44337,2022-12-05,Japan,Croatia,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44338,2022-12-05,Brazil,South Korea,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44339,2022-12-06,Morocco,Spain,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True
44340,2022-12-06,Portugal,Switzerland,NaN,NaN,FIFA World Cup,Lusail,Qatar,True

Remove all rows containing `NaN` values and save this data frame as `df_clean`

In [2]:
df_clean = df.dropna()
df_clean

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44332,2022-12-02,South Korea,Portugal,2.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44333,2022-12-03,Netherlands,United States,3.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44334,2022-12-03,Argentina,Australia,2.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44335,2022-12-04,France,Poland,3.0,1.0,FIFA World Cup,Doha,Qatar,True
44336,2022-12-04,England,Senegal,3.0,0.0,FIFA World Cup,Al Khor,Qatar,True

### 🔬 Checkpoint Tests 🔬

In [3]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert("df_clean" in vars())
assert(df_clean.isna().sum().sum() == 0)
assert("home_team" in df)
assert("Score" not in df)
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 1: EDA

The DataFrame currently has data about every match played, but it's often useful to view aggregated information about each country.

Create a summary of in a new DataFrame, `df_home_goals`, that has the total goals **that each nation has sorted** at home in descending order.  That is, each `home_team` needs to have a total of the `home_goals` across all games they have played.

In [8]:
df_home_goals = df_clean.sort_values(by = ["home_score"], ascending = False)
df_home_goals

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
24162,2001-04-11,Australia,American Samoa,31.0,0.0,FIFA World Cup qualification,Coffs Harbour,Australia,False
8027,1971-09-13,Tahiti,Cook Islands,30.0,0.0,South Pacific Games,Papeete,French Polynesia,False
11225,1979-08-30,Fiji,Kiribati,24.0,0.0,South Pacific Games,Nausori,Fiji,False
24159,2001-04-09,Australia,Tonga,22.0,0.0,FIFA World Cup qualification,Coffs Harbour,Australia,False
29213,2006-11-24,Sápmi,Monaco,21.0,1.0,Viva World Cup,Hyères,France,True
...,...,...,...,...,...,...,...,...,...
25147,2002-05-19,Myanmar,Malaysia,0.0,0.0,Friendly,Yangon,Myanmar,False
25149,2002-05-19,United States,Netherlands,0.0,2.0,Friendly,Foxborough,United States,False
25150,2002-05-20,Scotland,South Africa,0.0,2.0,Friendly,So Kon Po,Hong Kong,True
25152,2002-05-21,San Marino,Estonia,0.0,1.0,Friendly,Serravalle,San Marino,False
22168,1999-03-07,Bolivia,Paraguay,0.0,3.0,Friendly,Guatemala,Guatemala,True

### Away Team and Away Goals

How about for away_goals? Call this DataFrame `df_away_goals`:

In [9]:
df_away_goals = df_clean.sort_values(by = ["away_score"], ascending = False)
df_away_goals

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
27755,2005-03-11,Guam,North Korea,0.0,21.0,EAFF Championship,Taipei,Taiwan,True
36436,2014-06-01,Darfur,Padania,0.0,20.0,CONIFA World Football Cup,Östersund,Sweden,True
26068,2003-06-30,Sark,Isle of Wight,0.0,20.0,Island Games,St. Martin,Guernsey,True
15020,1987-12-15,American Samoa,Papua New Guinea,0.0,20.0,South Pacific Games,Nouméa,New Caledonia,True
36441,2014-06-02,Darfur,South Ossetia,0.0,19.0,CONIFA World Football Cup,Östersund,Sweden,True
...,...,...,...,...,...,...,...,...,...
22517,1999-07-17,Costa Rica,Saudi Arabia,1.0,0.0,Friendly,Fullerton,United States,True
22515,1999-07-16,Jordan,Syria,1.0,0.0,Friendly,Amman,Jordan,False
22513,1999-07-15,Egypt,New Zealand,1.0,0.0,Friendly,Guadalajara,Mexico,True
22509,1999-07-12,Micronesia,Northern Mariana Islands,7.0,0.0,Friendly,Colonia,Micronesia,False
44336,2022-12-04,England,Senegal,3.0,0.0,FIFA World Cup,Al Khor,Qatar,True

### 🔬 Checkpoint Tests 🔬

In [10]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df_home_goals" in vars())
assert("df_away_goals" in vars())

assert(df_home_goals.iloc[20]["home_score"] < df_home_goals.iloc[0]["home_score"])
assert(df_home_goals.iloc[56]["home_score"] < df_home_goals.iloc[0]["home_score"])
assert(df_home_goals.iloc[56]["home_score"] < df_home_goals.iloc[20]["home_score"])

assert(df_away_goals.iloc[20]["away_score"] < df_away_goals.iloc[0]["away_score"])
assert(df_away_goals.iloc[56]["away_score"] < df_away_goals.iloc[0]["away_score"])
assert(df_away_goals.iloc[56]["away_score"] < df_away_goals.iloc[20]["away_score"])


print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 2: World Cup

In the DataSet, the `tournament` column provides the tournament where the game was played.

World Cup games are the only international matches played on Nov. 30, 2022 (`2022-11-30`).  Find the `tournament` string used for games during the World Cup by looking at games with the `date` during the world cup.

In [13]:
world_cup = df_clean[df_clean['date'] == '2022-11-30']
world_cup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44321,2022-11-30,Poland,Argentina,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44322,2022-11-30,Saudi Arabia,Mexico,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44323,2022-11-30,Australia,Denmark,1.0,0.0,FIFA World Cup,Al Wakrah,Qatar,True
44324,2022-11-30,Tunisia,France,1.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

Knowing how the World Cup games are labeled, create a new DataFrame `df_worldcup` that contains all World Cup games played in the dataset:

In [14]:
df_worldcup = df_clean[df_clean['tournament'] == "FIFA World Cup"]
df_worldcup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4.0,1.0,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1.0,2.0,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1.0,3.0,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1.0,0.0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44332,2022-12-02,South Korea,Portugal,2.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44333,2022-12-03,Netherlands,United States,3.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44334,2022-12-03,Argentina,Australia,2.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44335,2022-12-04,France,Poland,3.0,1.0,FIFA World Cup,Doha,Qatar,True
44336,2022-12-04,England,Senegal,3.0,0.0,FIFA World Cup,Al Khor,Qatar,True

### 🔬 Checkpoint Tests 🔬

In [15]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert("df_worldcup" in vars())

assert(len(df_worldcup) > 900)
assert(len(df_worldcup["tournament"].unique()) == 1)
assert("World Cup" in df_worldcup["tournament"].unique()[0])

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

## Total Points Scored at The World Cup

Calculate the number of goals scored in all World Cup matches and store that value in `total_WC_goals`:

In [16]:
home_goal_total = df_worldcup['home_score'].sum()
away_goal_total = df_worldcup['away_score'].sum()
total_WC_goals = home_goal_total + away_goal_total
total_WC_goals

2682.0

### 🔬 Checkpoint Tests 🔬

In [17]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.
tada = "\N{PARTY POPPER}"

assert(df_clean[df_clean["tournament"] == "FIFA World Cup"].sum()[3] + df_clean[df_clean["tournament"] == "FIFA World Cup"].sum()[4] == total_WC_goals)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 3: United States Win Percentage

Our dataset contains a home_team and away team column along with a home_score and away_score. Using these columns find the number of wins, losses, and ties the United States has.

In [24]:
df_US_home = df_clean[df_clean['home_team'] == 'United States']
df_US_home

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
41,1885-11-28,United States,Canada,0.0,1.0,Friendly,Newark,United States,False
48,1886-11-25,United States,Canada,3.0,2.0,Friendly,Newark,United States,False
932,1925-11-08,United States,Canada,6.0,1.0,Friendly,New York,United States,False
1019,1926-11-06,United States,Canada,6.0,2.0,Friendly,New York,United States,False
1787,1935-05-19,United States,Scotland,1.0,5.0,Friendly,New York,United States,False
...,...,...,...,...,...,...,...,...,...
43652,2022-03-27,United States,Panama,5.0,1.0,FIFA World Cup qualification,Orlando,United States,False
43764,2022-06-01,United States,Morocco,3.0,0.0,Friendly,Cincinnati,United States,False
43852,2022-06-05,United States,Uruguay,0.0,0.0,Friendly,Kansas City,United States,False
43935,2022-06-10,United States,Grenada,5.0,0.0,CONCACAF Nations League,Austin,United States,False
44288,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True

In [25]:
df_US_away = df_clean[df_clean['away_team'] == 'United States']
df_US_away

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
450,1916-08-20,Sweden,United States,2.0,3.0,Friendly,Stockholm,Sweden,False
451,1916-09-03,Norway,United States,1.0,1.0,Friendly,Kristiania,Norway,False
809,1924-06-10,Poland,United States,2.0,3.0,Friendly,Warsaw,Poland,False
897,1925-06-27,Canada,United States,1.0,0.0,Friendly,Montréal,Canada,False
1140,1928-06-10,Poland,United States,3.0,3.0,Friendly,Warsaw,Poland,False
...,...,...,...,...,...,...,...,...,...
44071,2022-09-23,Japan,United States,2.0,0.0,Kirin Challenge Cup,Düsseldorf,Germany,True
44172,2022-09-27,Saudi Arabia,United States,0.0,0.0,Friendly,Murcia,Spain,True
44304,2022-11-25,England,United States,0.0,0.0,FIFA World Cup,Al Khor,Qatar,True
44320,2022-11-29,Iran,United States,0.0,1.0,FIFA World Cup,Doha,Qatar,True
44333,2022-12-03,Netherlands,United States,3.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True

Use df_clean to get the number of wins the United States has and save it in a variable named `US_Wins`

In [32]:
US_Wins = len(df_US_home[(df_US_home.home_score > df_US_home.away_score)]) + len(df_US_away[(df_US_away.home_score < df_US_away.away_score)])
US_Wins

321

Use df_clean to get the number of losses the United States has and save it in a variable named `US_Loss`

In [33]:
US_Loss = len(df_US_home[(df_US_home.home_score < df_US_home.away_score)]) + len(df_US_away[(df_US_away.home_score > df_US_away.away_score)])
US_Loss

254

Use df_clean to get the number of draws(ties) the United States has and save it in a variable named `US_Draw`

In [59]:
US_Draw = len(df_US_home[(df_US_home.home_score == df_US_home.away_score)]) + len(df_US_away[(df_US_away.home_score == df_US_away.away_score)])
US_Draw

154

### Calculate the Win Percentage of the United States

Now, calculate the "Win Percentage" of the United States.  In football(soccer), "Win Percentage" considers a win to be a win and a draw to be **half** of a win.

Save this result as `US_WinPercent`

In [62]:
US_WinPercent = (US_Wins + (US_Draw * 1/2)) / (len(df_US_home) + len(df_US_away))
US_WinPercent

0.5459533607681756

### 🔬 Checkpoint Tests 🔬

In [63]:
## == CHECKPOINT TESTS ==s
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("US_Wins" in vars())
assert("US_Loss" in vars())
assert("US_Draw" in vars())
assert("US_WinPercent" in vars())


assert(len(df_clean[((df_clean.iloc[:, 1] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] > df_clean.iloc[:,4])) | (df_clean.iloc[:, 2] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] < df_clean.iloc[:,4])])
 == US_Wins)
assert(len(df_clean[((df_clean.iloc[:, 1] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] < df_clean.iloc[:,4])) | (df_clean.iloc[:, 2] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] > df_clean.iloc[:,4])])
 == US_Loss)
assert(len(df_clean[((df_clean.iloc[:, 1] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] == df_clean.iloc[:,4])) | (df_clean.iloc[:, 2] == df_clean.iloc[41, 1])&(df_clean.iloc[:,3] == df_clean.iloc[:,4])])
 == US_Draw)

assert((US_Wins + .5*US_Draw) / (US_Draw+US_Loss+US_Wins) == US_WinPercent) 
print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Part 4: United States vs Netherlands

On Saturday, December 3rd the United States will play (or has already played) Netherlands in the Round of 16 of the 2022 World Cup.  Explore this dataset by looking at the games played between the two countries!

Using the data in `df_clean`, find ALL games were US has played Netherlands and save it as `df_US_Netherlands`.
- Note: You need to consider both when the Netherlands played the US at home **AND** when the US played Netherlands at home.

In [54]:
df_US_Netherlands = df_clean[((df_clean['home_team'] == 'Netherlands') & (df_clean['away_team'] == 'United States')) | ((df_clean['home_team'] == 'United States') & (df_clean['away_team'] == 'Netherlands'))]
df_US_Netherlands

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
21477,1998-02-21,United States,Netherlands,0.0,2.0,Friendly,Miami Gardens,United States,False
25149,2002-05-19,United States,Netherlands,0.0,2.0,Friendly,Foxborough,United States,False
26680,2004-02-18,Netherlands,United States,1.0,0.0,Friendly,Amsterdam,Netherlands,False
32393,2010-03-03,Netherlands,United States,2.0,1.0,Friendly,Amsterdam,Netherlands,False
37324,2015-06-05,Netherlands,United States,3.0,4.0,Friendly,Amsterdam,Netherlands,False
44333,2022-12-03,Netherlands,United States,3.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True

In [55]:
## == CHECKPOINT TESTS ==
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("df_US_Netherlands" in vars())

assert(len(df_US_Netherlands) >= 5)
assert(len(df_US_Netherlands["home_team"].unique() == 2))
assert(len(df_US_Netherlands["away_team"].unique() == 2))

assert("United States" in df_US_Netherlands["home_team"].unique())
assert("United States" in df_US_Netherlands["away_team"].unique())

assert("Netherlands" in df_US_Netherlands["home_team"].unique())
assert("Netherlands" in df_US_Netherlands["away_team"].unique())

assert(len(df_US_Netherlands[df_US_Netherlands["date"].apply(lambda x: "2015-06-05" in x)]) == 1)
assert(len(df_US_Netherlands[df_US_Netherlands["date"].apply(lambda x: "2004-02-18" in x)]) == 1)

print(f"{tada} All Tests Passed! {tada}")

🎉 All Tests Passed! 🎉

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and follow the instructions to commit and grade this MicroProject!